*{
    font-family:'Courier New', Courier, monospace ;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(14, 205, 230, 0.555);
}

h1 {
    color:  #fff;
}

.inicio h1 {
    margin: 2rem;
}

.inicio span {
    display: block;
    border-radius: 2rem;
    color: #fff;
    font-size:  8rem;
    margin-bottom: 1rem;

}

.inicio button {
    padding: 0.5rem 1.0rem;
    border: none;
    background: rgb(155, 83, 221);
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1.6rem;
    box-shadow: 3px 3px 3px rgb(28, 15, 39);
}